{{template "header"}}

<p>WiFi Mapper - Current data</p>
{{template "nav-main"}}
    <table>
        <tr>
            <th>ESSID</th>
            <th>MAC</th>
            <th>Freq</th>
            <th>SigLvl</th>
            <th>Qual</th>
            <th>Enc</th>
            <th>Channel</th>
            <th>Mode</th>
            <th>IEEE</th>
            <th>Bitrates</th>
            <th>WPA</th>
        </tr>
{{range .}}
    <tr>
        <td>{{.ESSID}}</td>
        <td>{{.MAC}}</td>
        <td>{{.Freq}}</td>
        <td>{{.SigLvl}}</td>
        <td>{{.Qual}}</td>
        <td>{{.Enc}}</td>
        <td>{{.Channel}}</td>
        <td>{{.Mode}}</td>
        <td>{{.IEEE}}</td>
        <td>{{.Bitrates}}</td>
        <td>{{.WPA}}</td>
    </tr>
{{end}}
    </table>
{{template "footer"}}