{{template "header"}}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/status">Server status</a></li>
    <li><a href="/data">Current scan data</a></li>
    <li><a href="/download">Download scanned data</a></li>
</ul>
{{if .WiFiScanUp}}
    <bold>WiFi Scan is UP</bold><br />
{{else}}
    <bold>WiFi Scan is not working</bold><br />
{{end}}
{{if .GPSScanUp}}
    <bold>GPD Scan is UP</bold><br />
{{else}}
    <bold>GPS Scan is not working</bold><br />
{{end}}
{{.Timestamp}}

{{template "footer"}}